@{
    ViewData["Title"] = (Model.film.Title != null ? Model.film.Title : Model.film.OriginalTitle);
}

@using System.ComponentModel;
@using Newtonsoft.Json;
@section CssLinks{

    <link rel="stylesheet" href="~/css/detail.css">
}

@if (Model.screenshots != null)
{
    <img class="backImage" src="@Model.screenshots[0]" />
}
<img class="backImage" src="@Model.film.CoverPoster" />

<section class="descriptionSection">
    <div class="mainInfo">
        <div class="imgContainer">

            <img src="@Model.film.Poster" />
            @if (Context.Request.Cookies.ContainsKey("id"))
            {
                var enumType = typeof(TypeOfUserFilm);
                var enumCount = Enum.GetNames(typeof(TypeOfUserFilm)).Length;


                <form asp-action="ChangeUsersFilm" asp-controller="Films" asp-route-lastUrl="@(Context.Request.Path+Context.Request.QueryString)">
                    <input type="hidden" name="filmId" value="@Model.film.Id" />
                    <input type="hidden" name="userId" value='@Context.Request.Cookies["id"]' />
                    <select name="typeFilmUser">
                        @for (int i = 0; i < enumCount; i++)
                        {
                            var description = enumType.GetMember(((TypeOfUserFilm)i).ToString())[0].GetCustomAttributes(typeof(DescriptionAttribute), false)[0] as DescriptionAttribute;

                            @if ((TypeOfUserFilm)i == Model.userType)
                            {
                                <option selected value="@((TypeOfUserFilm)i)">@description.Description </option>
                            }
                            else
                            {
                                <option value="@((TypeOfUserFilm)i)">@description.Description </option>
                            }
                        }
                    </select>
                    <button type="submit">Изменить</button>
                </form>
            }
        </div>
        <div class="info">
            <h2>@(Model.film.Title == null ? Model.film.OriginalTitle : Model.film.Title) (@Model.film.KinopoiskRating)</h2>
            @if (Model.film.OriginalTitle != null && Model.film.OriginalTitle != "")
            {
                <div class="partInfo">
                    <span class="name">Также: </span>
                    <span class="value">@Model.film.OriginalTitle</span>
                </div>
            }
            <div class="partInfo">
                <span class="name">Id на Кинопоиске: </span>
                <span class="value">@Model.film.KinopoiskId</span>
            </div>
            <hr />
            <div class="partInfo">
                <span class="name">Тип: </span>
                <span class="value">@Model.film.Type</span>
            </div>

            <div class="partInfo">
                <span class="name">Жанр: </span>
                @for (int i = 0; i < @Model.genres.Length; i++)
                {
                    if (i == @Model.genres.Length - 1)
                    {
                        <span class="value">@Model.genres[i]</span>
                    }
                    else
                    {
                        <span class="value">@Model.genres[i], </span>
                    }

                }
            </div>


            <div class="partInfo">
                <span class="name">Страна: </span>
                @for (int i = 0; i < @Model.countries.Length - 1; i++)
                {
                    if (i == @Model.countries.Length - 2)
                    {
                        <span class="value">@Model.countries[i]</span>
                    }
                    else
                    {
                        <span class="value">@Model.countries[i], </span>
                    }

                }
            </div>

            @if (@Model.film.Duration != null)
            {
                <div class="partInfo">
                    <span class="name">Продолжительность: </span>
                    @if (Model.film.Duration.Contains(":"))
                    {
                        <span class="value">@Model.film.Duration</span>
                    }
                    else
                    {
                        <span class="value">@Model.film.Duration мин.</span>
                    }
                </div>
            }
            <div class="partInfo">
                <span class="name">Год выхода: </span>
                <span class="value">@Model.film.Year</span>
            </div>
            @if (Model.accountImportant >= 8)
            {
                <a asp-area="" asp-controller="Films" asp-action="AddDetailsInformation" asp-route-id="@Model.film.Id" asp-route-lastUrl="@(Context.Request.Path+Context.Request.QueryString)">Добавить информацию по фильму</a>
            }

            <hr />

            @{
                List<FilmStaff> actors = Model.filmStaffs["Actors"];
            }
            @if (actors.Count > 0)
            {
                <div class="partInfo">
                    <span class="name">Актеры: </span>
                    @for (int i = 0; i < actors.Count; i++)
                    {
                        if (i == actors.Count - 1)
                        {
                            <span class="value">@actors[i].Staff.Name</span>
                        }
                        else
                        {
                            <span class="value">@actors[i].Staff.Name, </span>
                        }

                    }
                </div>
            }
            @{
                List<FilmStaff> directors = Model.filmStaffs["Directors"];
            }
            @if (directors.Count > 0)
            {
                <div class="partInfo">
                    <span class="name">Режиссеры: </span>
                    @for (int i = 0; i < directors.Count; i++)
                    {
                        if (i == directors.Count - 1)
                        {
                            <span class="value">@directors[i].Staff.Name</span>
                        }
                        else
                        {
                            <span class="value">@directors[i].Staff.Name, </span>
                        }

                    }
                </div>
            }
            
            @{
                List<FilmStaff> designs = Model.filmStaffs["Designs"];
            }
            @if (designs.Count > 0)
            {
                <div class="partInfo">
                    <span class="name">Художники: </span>
                    @for (int i = 0; i < designs.Count; i++)
                    {
                        if (i == designs.Count - 1)
                        {
                            <span class="value">@designs[i].Staff.Name</span>
                        }
                        else
                        {
                            <span class="value">@designs[i].Staff.Name, </span>
                        }

                    }
                </div>
            }
            
            @{
                List<FilmStaff> composers = Model.filmStaffs["Composers"];
            }
            @if (composers.Count > 0)
            {
                <div class="partInfo">
                    <span class="name">Композиторы: </span>
                    @for (int i = 0; i < composers.Count; i++)
                    {
                        if (i == composers.Count - 1)
                        {
                            <span class="value">@composers[i].Staff.Name</span>
                        }
                        else
                        {
                            <span class="value">@composers[i].Staff.Name, </span>
                        }

                    }
                </div>
            }
            
            @{
                List<FilmStaff> operators = Model.filmStaffs["Operators"];
            }
            @if (operators.Count > 0)
            {
                <div class="partInfo">
                    <span class="name">Операторы: </span>
                    @for (int i = 0; i < operators.Count; i++)
                    {
                        if (i == composers.Count - 1)
                        {
                            <span class="value">@operators[i].Staff.Name</span>
                        }
                        else
                        {
                            <span class="value">@operators[i].Staff.Name, </span>
                        }

                    }
                </div>
            }
            
            @{
                List<FilmStaff> writers = Model.filmStaffs["Writers"];
            }
            @if (writers.Count > 0)
            {
                <div class="partInfo">
                    <span class="name">Сценаристы: </span>
                    @for (int i = 0; i < writers.Count; i++)
                    {
                        if (i == writers.Count - 1)
                        {
                            <span class="value">@writers[i].Staff.Name</span>
                        }
                        else
                        {
                            <span class="value">@writers[i].Staff.Name, </span>
                        }

                    }
                </div>
            }
           
            @{
                List<FilmStaff> producers = Model.filmStaffs["Producers"];
            }
            @if (producers.Count > 0)
            {
                <div class="partInfo">
                    <span class="name">Продюсеры: </span>
                    @for (int i = 0; i < producers.Count; i++)
                    {
                        if (i == producers.Count - 1)
                        {
                            <span class="value">@producers[i].Staff.Name</span>
                        }
                        else
                        {
                            <span class="value">@producers[i].Staff.Name, </span>
                        }

                    }
                </div>
            }
            
            @{
                List<FilmStaff> editors = Model.filmStaffs["Editors"];
            }
            @if (editors.Count > 0)
            {
                <div class="partInfo">
                    <span class="name">Монтажеры: </span>
                    @for (int i = 0; i < editors.Count; i++)
                    {
                        if (i == editors.Count - 1)
                        {
                            <span class="value">@editors[i].Staff.Name</span>
                        }
                        else
                        {
                            <span class="value">@editors[i].Staff.Name, </span>
                        }

                    }
                </div>
            }
            
        </div>
    </div>
    <div class="description">@Html.Raw(Model.film.Description)</div>

    @if (Model.screenshots != null && Model.screenshots.Length > 1)
    {
        <h2>Кадры из фильма</h2>
        <div id="carouselScreenshots" class="owl-carousel">
            @for (int i = 0; i < @Model.screenshots.Length - 1; i++)
            {
                <img src="@Model.screenshots[i]" />
            }
        </div>
    }
</section>

<section class="playerSection">
    <div class="kinobox_player"></div>
</section>

<section class="feedbackSection">

    @if (Context.Request.Cookies["image"] != null)
    {
        <form asp-action="AddComment" asp-controller="User"
              asp-route-filmId="@Model.film.Id"
              asp-route-lastUrl="@(Context.Request.Path+Context.Request.QueryString)">
            <h2 style="text-align:center; margin-top:50px;">Поделитесь своим мнением о просмотре</h2>
            <div class="feedBack">
                <div class="imgContainer">
                    <img src="@Context.Request.Cookies["image"]" />
                </div>
                <textarea id="text" name="text"></textarea>
            </div>
            <button type="submit">Оставить</button>
        </form>
    }
    else
    {
        <h2 style="text-align:center;font-size:1.7em;color:white;margin-top:50px">Зарегистрируйтесь, чтобы оставлять комментарии</h2>
    }


    <h2 style="text-align:center; margin:40px 0">Комментарии</h2>
    @if (Model.filmComments.Count == 0)
    {
        <h2 style="text-align:center;font-size:1.7em;color:white">Здесь еще нет комментариев, будьте первым</h2>
    }
    else
    {
        @for (int i = 0; i < Model.filmComments.Count; i++)
        {
            <div class="feedBack">
                <div class="feedBackHeader">
                    <div class="imgContainer">
                        <img src="@Model.filmComments[i].User.ImgUrl" />
                    </div>
                    <span>@Model.filmComments[i].User.Login</span>
                </div>
                <p>@Model.filmComments[i].Text</p>
            </div>
        }
    }

</section>
@section Scripts{

    <script src="https://kinobox.tv/kinobox.min.js"></script>
    <script>new Kinobox('.kinobox_player', { search: { kinopoisk: '@Model.film.KinopoiskId' } }).init();</script>

        <script src="~/js/detail.js"></script>
    <script>
        $(document).ready(function () {
            $("#carouselScreenshots").owlCarousel({
                margin: 20,
                autoplay: true,
                autoplayTimeout: 5000,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 3
                    }
                },
                autoplayHoverPause: true
            });
            
        });
    </script>
}