@using Newtonsoft.Json;
@using OuTouchFilms.Models;
@section CssLinks{

    <link rel="stylesheet" href="~/css/filmList.css">
}

<div class="sectionContainer">
    <section class="filmListSection">
        <h1>Фильмы</h1>
        @{
            List<dynamic> allFilms = Model.filmsModel.films;
        }
        @if (allFilms.Count == 0)
        {
            <h2>Фильмов не найдено. Попробуйте изменить параметры сортировки</h2>
        }
        else
        {

            <div class="filmList">

                @for (int i = 0; i < allFilms.Count; i++)
                {
                    @await Html.PartialAsync("_FilmCardPartial", (Film)allFilms[i].film)
                }
            </div>
        }

        <div class="flex">
            <ul>

                @if (Model.filmsModel.page > 2)
                {
                    <li>
                        <a class="page-link" asp-route-minYear="@Model.searchModel.minYear"
                           asp-route-maxYear="@Model.searchModel.maxYear"
                           asp-route-sortBy="@Model.searchModel.sortBy"
                           asp-route-genresJson="@(JsonConvert.SerializeObject(Model.searchModel.currentGenres))"
                           asp-route-page="@(Model.filmsModel.page - 2)"
                           asp-action="FilmListPagination"
                           asp-controller="Films">@(Model.filmsModel.page - 2)</a>
                    </li>
                }
                else
                {
                    <li></li>
                }

                @if (Model.filmsModel.page > 1)
                {
                    <li>
                        <a class="page-link" asp-route-minYear="@Model.searchModel.minYear"
                           asp-route-maxYear="@Model.searchModel.maxYear"
                           asp-route-sortBy="@Model.searchModel.sortBy"
                           asp-route-genresJson="@(JsonConvert.SerializeObject(Model.searchModel.currentGenres))"
                           asp-route-page="@(Model.filmsModel.page - 1)"
                           asp-action="FilmListPagination"
                           asp-controller="Films">@(Model.filmsModel.page - 1)</a>
                    </li>
                }
                else
                {
                    <li></li>
                }
                <li class="active">
                    <a class="page-link" asp-route-minYear="@Model.searchModel.minYear"
                       asp-route-maxYear="@Model.searchModel.maxYear"
                       asp-route-sortBy="@Model.searchModel.sortBy"
                       asp-route-genresJson="@(JsonConvert.SerializeObject(Model.searchModel.currentGenres))"
                       asp-route-page="@Model.filmsModel.page"
                       asp-action="FilmListPagination"
                       asp-controller="Films">@Model.filmsModel.page</a>
                </li>

                @if (Model.filmsModel.page + 1 <= Model.filmsModel.maxPage)
                {
                    <li>
                        <a class="page-link" asp-route-minYear="@Model.searchModel.minYear"
                           asp-route-maxYear="@Model.searchModel.maxYear"
                           asp-route-sortBy="@Model.searchModel.sortBy"
                           asp-route-genresJson="@(JsonConvert.SerializeObject(Model.searchModel.currentGenres))"
                           asp-route-page="@(Model.filmsModel.page + 1)"
                           asp-action="FilmListPagination"
                           asp-controller="Films">@(Model.filmsModel.page + 1)</a>
                    </li>
                }
                else
                {
                    <li></li>
                }

                @if (Model.filmsModel.page + 2 <= Model.filmsModel.maxPage)
                {
                    <li>
                        <a class="page-link" asp-route-minYear="@Model.searchModel.minYear"
                           asp-route-maxYear="@Model.searchModel.maxYear"
                           asp-route-sortBy="@Model.searchModel.sortBy"
                           asp-route-genresJson="@(JsonConvert.SerializeObject(Model.searchModel.currentGenres))"
                           asp-route-page="@(Model.filmsModel.page + 2)"
                           asp-action="FilmListPagination"
                           asp-controller="Films">@(Model.filmsModel.page + 2)</a>
                    </li>
                }
                else
                {
                    <li></li>
                }
            </ul>
        </div>
    </section>
    <section class="searchFilmSection">

        @await Html.PartialAsync("_SearchSectionPartial", (object)Model.searchModel)
    </section>
</div>