@section CssLinks{

    <link rel="stylesheet" href="~/css/newsDetail.css">
}

<section>
    <div class="authorContainer">
        <img src="@Model.news.User.ImgUrl" />
        <div>
            <p>@Model.news.User.Login</p>
            <p>@Model.news.Date</p>
        </div>
    </div>
    <div class="newsContainer">
        <a class="backHref" href="@Model.lastUrl"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></a>
        <h2>@Model.news.Title</h2>
        <hr />
        <div class="newsBody">
            @Html.Raw(Model.news.Text)
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://kit.fontawesome.com/5bbb62820a.js" crossorigin="anonymous"></script>
}