@{
    string theme = "gray";
    string logoPath = "images/system/Logo.png";
    string backImgPath = "images/system/backGray.png";
    if (Context.Request.Cookies.ContainsKey("themeProject"))
    {
        theme = Context.Request.Cookies["themeProject"];

        switch (theme)
        {
            case "white":
                logoPath = "images/system/logoBlack.png";
                backImgPath = "images/system/backWhite.png";
                break;
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Сайт от компании OuTouch, предназначенный для просмотра фильмов. Наслаждайтесь)" />
    <title>@(ViewData["Title"] == null ? "OuTouchFilms" : ViewData["Title"])</title>
    <link rel="icon" href="~/images/system/outouch.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OuTouchFilms.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    @await RenderSectionAsync("CssLinks", required: false)

    @switch (theme)
    {
        case "white":

            <link rel="stylesheet" href="~/css/whiteTheme.css" asp-append-version="true" />
            break;
    }
</head>
<body>
    <img class="backImage" src="~/@backImgPath" />
    <header>
        <div class="offcanvas offcanvas-start" tabIndex="-1" id="offcanvasHeader" aria-labelledby="offcanvasHeaderLabel">
            <div class="offcanvas-header">
                <a class="brandLink" asp-area="" asp-controller="Films" asp-action="Index"><img src="~/@logoPath" /></a>

                <div class="themeIcon">
                    <a asp-controller="User" asp-action="ChangeTheme" asp-route-lastUrl="@(Context.Request.Path+Context.Request.QueryString)"><i class="bi bi-brightness-high-fill"></i></a>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <div class="linksContainer">
                    @{
                        var userImg = Context.Request.Cookies["image"];
                    }
                    @if (userImg != null)
                    {
                        <a asp-action="Profile" asp-controller="User">
                            <img class="profileIcon" src="@userImg" />
                        </a>
                    }
                    <a asp-area="" asp-controller="Films" asp-action="FilmList">Фильмы</a>
                    <a asp-area="" asp-controller="Films" asp-action="GetRandomFilm">Случайный фильм</a>
                    <a asp-action="Profile" asp-controller="User">Профиль</a>


                    <form class="searchForm" asp-action="Search" asp-controller="Films" method="get">
                        <input class="title" name="title" type="text" placeholder="Введите название фильма" required />
                        @* <button type="submit"><i class="bi bi-search-heart"></i></button> *@
                    </form>
                </div>
            </div>
        </div>
        <nav class="navLinks">
            <a class="brandLink" asp-area="" asp-controller="Films" asp-action="Index"><img src="~/@logoPath" /></a>

            <div class="linksContainer">
                <a asp-area="" asp-controller="Films" asp-action="filmList">Фильмы</a>
                <a asp-area="" asp-controller="Films" asp-action="GetRandomFilm">Случайный фильм</a>
            </div>

            <form class="searchForm" asp-action="Search" asp-controller="Films" method="get">
                <input class="title" name="title" type="text" placeholder="Название фильма" required />
                <div class="helpSearch d-none">
                    <div class="text-center spinnerSearch d-none">
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="filmList"></div>
                    <a class="allFilms d-none" href="#">Все совпадения</a>
                </div>
            </form>

            <div class="themeIcon">
                <a asp-controller="User" asp-action="ChangeTheme" asp-route-lastUrl="@(Context.Request.Path+Context.Request.QueryString)"><i class="bi bi-brightness-high-fill"></i></a>
            </div>

            @if (userImg != null)
            {
                <a asp-action="Profile" asp-controller="User">
                    <img class="profileIcon" src="@userImg" />
                </a>
            }
            else
            {
                <a class="profileHref" asp-action="Profile" asp-controller="User">Профиль</a>
            }



            <a class="menuIcon" data-bs-toggle="offcanvas" href="#offcanvasHeader" role="button" aria-controls="offcanvasHeader">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fillRule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </a>



        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <div class="footerContainer">
            <div class="hrefContainer">
                <h3>OuTouch Films</h3>
                <a asp-action="Index" asp-controller="Films">Главная</a>
                <a asp-action="FilmList" asp-controller="Films">Список фильмов</a>
                <a asp-action="GetRandomFilm" asp-controller="Films">Случайный фильм</a>
                <a asp-action="Profile" asp-controller="User">Профиль</a>
                <a asp-action="FAQ" asp-controller="News">FAQ</a>
            </div>

            <div class="hrefContainer">
                <h3>OuTouch</h3>
                <a href="#">Главная</a>
                <a href="#">Чилл</a>
                <a href="#">Игры</a>
                <a href="#">Форум</a>
            </div>

            <div class="hrefContainer">
                <h3>OuTouch Anime</h3>
                <a href="http://outouch.ru/">Главная</a>
                <a href="http://outouch.ru/Anime/AnimeList">Список аниме</a>
                <a href="http://outouch.ru/Anime/GetRandomAnime/">Случайное аниме</a>
                <a href="http://outouch.ru/User/Profile">Профиль</a>
                <a href="http://outouch.ru/News/FAQ">FAQ</a>
            </div>
        </div>
        <p class="copyright">&copy; 2023 - OuTouch</p>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
